@import 'mixins';
@import 'variables';

body {
  font-size: 14px;
}


.App-header {
  background-color: #282c34;
  height: 10vh;
}


.content {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
}

.no-items-message {
  @include success-message;
  padding: 1rem;
}

.required {
  color: $error-color;
  margin-right: 2px;
}

.show-add-task-dialog {
  margin: 0 10px;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.fadein {
  opacity: 1;
}

