@import 'mixins';
@import 'variables';

body {
  font-size: 14px;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

.content {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
}

.card-board-wrapper {
  @include flex-default;
  margin: 15px 0;
}

.error {
  background-color: #fff6f6;
  color: $error-color;
  padding: 1rem;
  margin: 0 10px;
}

.required {
  color: $error-color;
  margin-right: 2px;
}

