body {
  font-size: 14px;
}



.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
}

.add-card-wrapper {
  display: flex;
  flex: 0 0 100%;
  margin-bottom: 20px;

  & > * {
    margin: 0 10px;
  }

  .card-status-select {
    flex-basis: auto;
  }

  .card-name-input {
    flex-grow: 4;
  }
}

.card-board-wrapper {
  display: flex;
}

.cards-list-wrapper {
  background: #fff;
  border-right: 1px solid #ccc;
  margin: 0 10px;
  margin-left: 0;
  display:flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;

  &:last-child {
    border-right: 0;
  }

  .cards-title {
    margin: 0px auto;
  }

}


.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 2px 4px #ddd;
  text-align: left;

  .card-title {
    text-align: left;
    padding: 5px 0;
  }
}

