@import 'mixins';
@import 'variables';

.card {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    @include add-border(all, 1px, solid, #eaeaea, 5px);

    box-shadow: 2px 4px #ddd;
    text-align: left;
    position: relative;
  
    .card-title {
      text-align: left;
      padding: 5px 0;
    }

    .card-actions {
      margin-top: 10px;

      button {
        margin-right: 10px;

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }