@use 'sass:map';
@import 'variables';

.message {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    cursor: pointer;

    &.success{
        background-color: map-get($message , 'success');
    }

    &.error{
        background-color: map-get($message , 'success');
    }
}